 public static void main(String[] args) {
        // TODO code application logic here
        int a, e=200; Scanner x = new Scanner(System.in);
     float d, b, c=0;
     int w=1;
     String n;
     System.out.println("Nombre del trabajador: "); n =x.next();  
     System.out.println("Total de articulos vendidos: "); a =x.nextInt(); 
     System.out.println("");
     while(w<=a)
     {
     System.out.println("Precio del articulo " + w + ": "); b =x.nextFloat();  
     c=c+b;
     System.out.println("");
     w=w+1;
     }   
     d=(c*9)/100;  
     System.out.println(n+", tu sueldo es: "+e+" mas tu comicion del 9% por ventas, tu sueldo es de: "+(e+d));   
     System.out.println("");
     System.out.println("");
}
}
        
